@charset "UTF-8";

:root {
    --cor01: #4064AE;
    --cor02: #CCCBF3;
}

@media screen and (min-width: 801px) and (max-width: 1025px) {

    body {
        background-image: linear-gradient(var(--cor01), var(--cor02));
    }

    section#login {
        width: 80vw;
    }

    section#login > div#imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    section#login > div#formulario {
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 1025px) {

    body {
        background-image: linear-gradient(var(--cor01), var(--cor02));
    }

    section#login {
        width: 1000px;
    }

    section#login > div#imagem {
        float: left;
        width: 50%;
        height: 100%;
    }

    section#login > div#formulario {
        float: right;
        width: 50%;
    }
}