@charset "UTF-8";

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: #4064AE;
    width: 100vw;
    height: 100vh;
}

:root {
    --cor01: #4064AE;
    --cor02: #CCCBF3;
}

main {
    width: 100vw;
    height: 100vh;
    position: relative;
}

section#login {
    
    background-color: white;
    height: 515px;  
    width: 250px;
    border-radius: 20px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);

    transition: width .3s, height .3s;
    transition-timing-function: ease;

}

section#login > div#imagem {
    display: block;
    background: var(--cor01) url(../imagens/imagem-1.jpg) no-repeat bottom center ;
    background-size: cover;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align:  center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: .8em;
}

div.campo > label {
    display: none;
}



form > div.campo {
    background-color: var(--cor01);
    border: 2px solid var(--cor01);
    width: 100%;
    height: 40px;
    border-radius: 7px;
    margin: 5px 0px;
}

div.campo > span {
    color: white;
    /*background-color: black;*/
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input {
    background-color: var(--cor02);
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;
    border: 0px;
    border-radius: 7px;
    padding: 5px;
    transform: translatey(-13px);
}

div.campo > input:focus {
    outline: none;
}

div.campo > input:focus-within {
    background-color: white;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: var(--cor02);
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #b3b2d3;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    padding-top: 5px;
    background-color: white;
    border: 2px solid #82819c;
    border-radius: 7px;
    text-decoration: none;
    color: #82819c;
}

form > a.botao:hover {
    background-color: #b3b2d3;
}

form > a.botao > i {
    font-size: .8em;
}