@charset "UTF-8";

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: #4064AE;
    width: 100vw;
    height: 100vh;
}

:root {
    --cor01: #4064AE;
    --cor02: #CCCBF3;
}

main {
    width: 100vw;
    height: 100vh;
    position: relative;
}

section#login {
    
    background-color: white;
    height: 500px;  
    width: 250px;
    border-radius: 20px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);

}

section#login > div#imagem {
    display: block;
    background: var(--cor01) url(../imagens/imagem-1.jpg) no-repeat bottom center ;
    background-size: cover;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}